<?php

$_ENV['PROYECT_NAME'] = "app-estacion";
$_ENV['PROYECT_DESCRIPTION'] = "nose";
$_ENV['PROYECT_URL'] = "http://localhost/";
$_ENV['PROYECT_AUTHOR'] = "You";
$_ENV['PROYECT_EMAIL_AUTHOR'] = "example@example.com";
$_ENV['PROYECT_MODE'] = "indev";
$_ENV['PROYECT_KEYWORDS'] = "weater";

$_ENV['DB_HOST'] = 'localhost';
$_ENV['DB_DB'] = 'appestacion';
$_ENV['DB_USER'] = 'example';
$_ENV['DB_PASS'] = 'pass';
$_ENV['DB_PORT'] = 3306;

$_ENV['EMAIL_USER'] = "example@gmail.com";
$_ENV['EMAIL_PASSWORD'] = "pass"; 

?>